* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*  outline: 1px solid red; */
}

body {
    font-family: 'Inter', sans-serif;
}

.canvas {
    min-height: 100vh;
    background-color: rgb(243, 243, 255);
    display: flex;
    justify-content: center;
}

.app-layout {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 60vw;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-cont {
    display: flex;
    gap: 10px;
}

.brand-image {
    height: 30px;
}

.brand-name-cont {
    font-size: 20px;
    color: rgb(84, 84, 255);
    font-weight: bold;
}

.desc-cont {
    font-size: 16px;
    font-weight: 500;
    padding-top: 7px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-cont {
    background-color: rgb(251, 249, 255);
    box-shadow: 3px 3px 10px 0px rgb(187, 183, 255);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-heading-cont {
    padding-bottom: 10px;
}

.upload-box {
    width: 100%;
    height: 60px;
    border: 2px dotted rgb(161, 161, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.upload-image {
    height: 18px;
}

.upload-text {
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: 500;
}

.browse-btn {
    outline: none;
    border: none;
    color: rgb(98, 98, 255);
    text-decoration: underline;
    cursor: pointer;
}


.output-cont {
    display: flex;
    width: 100%;
    height: 30vh;
    gap: 15px;
}

.extracted-text-cont {
    width: 50%;
    height: 100%;
    box-shadow: 3px 3px 10px 0px rgb(187, 183, 255);
    border-radius: 10px;
    background-color: rgb(251, 249, 255);
    padding: 10px;
}

.extracted-text-heading-cont {
    font-size: 15px;
    font-weight: 500;
    color: rgb(39, 39, 39);
}

.extracted-text {
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px;
    height: 88%;
    overflow-y: scroll;
    scrollbar-track-color: none;
}

.analysis-cont {
    width: 50%;
    height: 100%;
    box-shadow: 3px 3px 10px 0px rgb(187, 183, 255);
    border-radius: 10px;
    background-color: rgb(251, 249, 255);
    padding: 10px;
}

.analysis-heading-cont {
    font-size: 15px;
    font-weight: 500;
    color: rgb(39, 39, 39);
    text-decoration: underline;
}

.ai-recommendation-heading-cont {
    font-size: 15px;
    font-weight: 500;
    color: rgb(39, 39, 39);
}

.numbers-cont {
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.numbers-cont>* {
    /* border: 1px solid black; */
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
}

.bold-number {
    font-weight: 600;
    color: black;
}

.ai-recommendation-cont {
    height: 24vh;
    width: 100%;
    box-shadow: 3px 3px 10px 0px rgb(187, 183, 255);
    border-radius: 10px;
    background-color: rgb(251, 249, 255);
    padding: 10px;
}

.recommendation-text-cont {
    overflow-y: scroll;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid rgb(195, 195, 195);
    height: 85%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recommendation-item {
    padding-left: 8px;
    min-height: 30px;
    width: 100%;
    background-color: rgb(231, 231, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.non-dragged-bg {
    background-color: rgb(243, 243, 255);
}

.dragged-bg {
    background-color: rgb(179, 255, 179);
}


.upload-cont {
    margin-top: 5px;
    display: flex;
    width: 100%;
    gap: 8px;
}

.file-name {
    font-size: 14px;
    color: rgb(90, 90, 90);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.upload-btn {
    margin-top: 5px;
    padding: 6px 12px;
    background-color: rgb(0, 214, 0);
    border-radius: 5px;
    color: white;
    font-size: 13px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.divider{
    background-color: rgb(208, 208, 208);
    color: rgb(216, 216, 216);
}

